/* body */
body {
  min-width: 280px;
  overflow: auto;
}
#container {
  width: 80%;
  margin-left: 10%;
  font-family: "Raleway", Arial, sans-serif;
}
.hebergementContain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}
/* section hébergement */

#zoneHebergement {
  width: 69%;
  height: 100%;
  background: #f2f2f2;
  border-radius: 20px;
}
#zoneHebergement > div {
  width: 94%;
  margin-left: 3%;
}
#hebergementFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hebergement {
  background-color: white;
  width: 30%;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 3%;
  box-shadow: 0px 0px 20px #00000060;
}
.hebergement img {
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#messageAfficherPlus {
  margin-left: 2px;
  font-weight: bold;
}

/* section hébergement populaire */
#zoneHebergementPopulaire {
  background-color: #f2f2f2;
  width: 28%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titreZonePopulaire {
  width: 85%;
  height: 11%;
}

#titreZonePopulaire h2 {
  display: flex;
  justify-content: space-between;
}

#hebergementPopulaireFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85%;
}
.hebergementPopulaire {
  background-color: white;
  height: 28%;
  width: 85%;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #00000060;
  display: flex;
}
.hebergementPopulaire img {
  width: 35%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.conteneurInfo {
  margin-left: 5px;
  width: 70%;
  height: 100%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Section Activité */
#activite {
  margin-top: 30px;
  font-size: 0.9em;
}
#containerActivite {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 550px;
}

.activite {
  width: 23.5%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #00000060;
  display: flex;
}

.imageActivite {
  width: 100%;
  height: 90%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.petiteActivite {
  width: 23%;
  height: 48%;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #00000060;
  display: flex;
}

.imagePetiteActivite {
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.activite h3,
.petiteActivite h3 {
  margin: 5%;
}
/* Class Outils */
.p-margin {
  margin: 4px;
}
.h3-margin {
  margin: 0px 0px 0px 4px;
}
.activite:hover,
.petiteActivite:hover,
.hebergement:hover,
.hebergementPopulaire:hover {
  transform: scale(1.05);
}
.linkNoStyle {
  text-decoration: none;
  color: black;
}
.note-margin {
  margin-left: 2px;
}

/* couleur des étoiles */
.blue {
  color: #0065fc;
}

.grey {
  color: #d6d6d6;
}

/* FOOTER */
footer {
  margin-top: 30px;
  width: 100%;
  background-color: #f2f2f2;
  font-family: "Raleway", Arial, sans-serif;
}

#zoneFooter {
  display: flex;
  justify-content: flex-start;
  width: auto;
  padding: 20px;
}

.footerPart {
  margin-right: 15%;
}
footer h3 {
  margin-left: 39px;
}

footer ul {
  list-style: none;
}

footer li {
  margin-top: 10px;
}
/* HEADER */
#navigation {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}

nav ul {
  display: flex;
  list-style: none;
  height: 100%;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
nav li {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 50%;
}
nav ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-top: 2px solid white; /* Pour éviter le décalage en hover */
}

#inscription {
  width: 18%;
  text-align: center;
}
nav ul a:hover {
  border-top: 2px solid #0065fc;
}

nav li a:hover {
  color: #0065fc;
}

h1 {
  font-size: 1.3em;
  margin-bottom: -10px;
}

/*Permet de faire un rond autour du I et de le centrer*/
.rond {
  height: 30px;
  min-width: 30px;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
/*évite le retour à la ligne pour la phrase*/
.rondFlex {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*PARTIE FILTRE*/
.containerFiltre {
  display: flex;
  align-items: center;
  width: 70%;
}
#filtres {
  margin-right: 2%;
  margin-bottom: 2.5%;
}
.filtre {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  margin-right: 2%;
  font-weight: bold;
  margin-top: 10px;
}
.filtre:hover {
  background-color: #deebff;
}
.filtreIcone {
  background-color: #deebff;
  border-radius: 100%;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.filtreTitre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.formulaire {
  max-width: 100%;
  margin-bottom: 15px;
}
.formulaireIcone {
  background-color: #f2f2f2;
  padding: 16px 14px 17px 20px;
  border-radius: 15px 0px 0px 15px;
  text-align: center;
}

.champSaisi {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 16px;
  width: 180px;
  font-size: 1em;
  font-weight: bold;
}
.champSaisi::placeholder {
  color: black;
  font-family: "Raleway", Arial, sans-serif;
}
.boutonRecherche {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 16px;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
}
/*tablette*/
@media all and (max-width: 1300px) {
  #container {
    width: 95%;
    margin-left: 2.5%;
  }

  .containerFiltre {
    flex-wrap: wrap;
    width: 100%;
  }

  .hebergementContain {
    flex-direction: column-reverse;
    align-content: space-between;
    height: auto;
  }
  #zoneHebergementPopulaire {
    width: 100%;
    height: 280px;
    margin-bottom: 30px;
  }

  #hebergementPopulaireFlex {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }

  .conteneurInfo {
    margin: 0;
  }

  #titreZonePopulaire {
    width: 90%;
  }

  .hebergementPopulaire {
    height: 70%;
    width: 29%;
  }

  #zoneHebergement {
    width: 100%;
    height: 800px;
    justify-content: space-around;
  }

  .hebergement {
    width: 46%;
  }
  .activite,
  .petiteActivite {
    height: 44%;
    width: 30%;
  }

  .activite img {
    height: 80%;
  }

  #zoneHebergement > div {
    width: 90%;
    margin-left: 5%;
  }
}
/* Type ipad*/
@media screen and (max-width: 890px) {
  #zoneHebergementPopulaire {
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
  }

  #hebergementPopulaireFlex {
    width: 90%;
    flex-direction: column;
  }

  .hebergementPopulaire {
    height: 28%;
    width: 100%;
  }
  .activite,
  .petiteActivite {
    height: 30%;
    width: 46.5%;
  }

  #containerActivite {
    height: 900px;
  }
}
/* Media : Mobile*/
@media screen and (max-width: 700px) {
  #zoneFooter {
    flex-direction: column;
  }

  .activite,
  .petiteActivite {
    height: 15%;
    width: 90%;
    margin-left: 5%;
  }

  .activite h3,
  .petiteActivite h3 {
    margin: 2%;
  }

  #containerActivite {
    flex-direction: row;
    align-content: space-between;
    height: 1700px;
  }

  #zoneHebergement {
    width: 100%;
    height: 1550px;
    justify-content: space-around;
  }

  #activite h2 {
    margin-left: 5%;
  }

  .hebergement {
    width: 100%;
    margin-bottom: 7%;
  }

  .hebergement:last-child {
    margin-bottom: 4%;
  }

  .rechercheBarre {
    width: 100%;
  }

  #navigation {
    flex-direction: column;
  }

  #inscription {
    position: absolute;
    top: 25px;
    right: 30px;
  }

  nav {
    flex-direction: column-reverse;
    align-content: space-between;
    width: 100%;
  }

  nav li {
    min-width: 51%;
    border-bottom: 3px solid rgb(247, 247, 247);
  }

  nav ul a:hover {
    border-top: 2px white solid;
    border-bottom: 3px solid #0065fc;
  }
  nav ul {
    height: 50px;
    width: 110%;
    padding: 0;
  }

  .boutonRechercheTexte {
    display: none; /*cache le texte : rechercher*/
  }
}

@media screen and (min-width: 701px) {
  .boutonRechercheIcone {
    display: none; /* cache la loupe tant que l'écran < 700px*/
  }
}
/* spéciale pour galaxy fold */
@media screen and (max-width: 315px) {
  .champSaisi {
    width: 140px;
  }

  #titreZonePopulaire {
    font-size: 0.9em;
  }
}
/* Mobile filtre en colone*/
@media screen and (max-width: 450px) {
  .containerFiltre {
    flex-direction: column;
    align-items: flex-start;
  }
  .hebergement:last-child {
    margin-bottom: 9%;
  }

  #zoneHebergement {
    height: 1500px;
  }
}
